/***
*   @Author -> AryanRanjane(ranjanearyan14@gmail.com)
*   @Date -> 24/6/24
*/

/**
*   Boiler plate 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(18, 15, 15);
}

/**
*   Heading 
*/

.heading-section {
    display: flex;
    justify-content: center;
}

#heads {
    font-weight: bold;
    font-size: 3em;
    color: white;
}

/**
*   Cards 
*/

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-row1 {
    margin-left: 2.5em;
    margin-top: 10em;
    background-size:auto;
    width: 350px;
    height: 400px;
    background-image: url(./resources/71yhKbI28hL._AC_UL480_FMwebp_QL65_.webp);
    transition: 1s ease;
}   



#BUY-1 {
    padding: 1em;
    margin-left: 2em;
    background-color: tomato;
}

#BUY-1:hover {
    background-color: rgb(95, 64, 59);
}

.card-row1:hover {
    transition: 3s ease;
    box-shadow: 0px 15px 35px rgb(26, 48, 85);
    filter: blur(3px);
}


.card-row2 {
    transition: 2s ease;
    position: relative;
    margin-left: 3em;
    margin-top: 10em;
    background-size:cover;
    width: 400px;
    height: 400px;
    background-image: url(./resources/71gCUFuulfL._AC_UY327_FMwebp_QL65_.webp);
}


.readme-2 {
    position: absolute;
    top: 90%;
    left: 80%;
}

#BUY-2 {
    padding: 1em;
    margin-left: 2em;
    background-color: tomato;
}

#BUY-2:hover {
    background-color: rgb(95, 64, 59);
}

.card-row2:hover {
    transition: 3s ease;
    box-shadow: 0px 5px 25px rgb(89, 81, 81);
    filter: blur(3px);
}
