/*
    @Author -> AryanRanjane(ranjanearyan14@gmail.com)
    @Date -> 18/6/24
*/

/*
*   Boiler-plate.
*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* 
*    box-sizing:border-box; makes sure that the effect which takes after 
*    padding is within the content size ie the content size is changed rather
*/

/**
*      Parent div of all the div's to create a bg for navbar
*/
.navbar {
  height: 70px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
}

/**
*       Child div to add one more layer of navbar below the parent to make the
*       logo more easy to access
*/

.nav-logo {
  height: 50px;
  width: 100px;
}

/*
*   logo div is child to the nav-logo div 
*/

.logo {
  background-image: url(./resources/amazon_logo.png);
  height: 50px;
  width: 100%;
  background-size: cover;
}

/**
*   Creating the hover effect for element to get the white border on hover
*   on components
*/

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

/** 
*       address 
*/

.fp {
  font-size: 11px;
  color: grey;
  font-weight: bold;
  margin-left: 15px;
}

.sp {
  font-size: 14px;
  color: white;
  display: inline;
  margin-left: 3px;
}

/**  
*   Selector 
*/

.selector {
  margin-left: 2em;
}

#all {
  font-size: 1.2em;
  border-radius: 1px;
  background-color: rgb(83, 82, 82);
  text-align: center;
}

#all:hover {
  background-color: rgb(116, 116, 116);
}

#xyz {
  font-size: 1em;
}

/**
*       Search bar
*/

.searchbar {
  width: 200px;
}

#search {
  width: 700px;
  margin-left: 100px;
  font-size: 1.3em;
  border: none;
  border-radius: 1px;
  text-align: center;
}

/**
*   Search-button
*/

.sch-btn {
  background-color: gold;
  border: none;
  font-size: 1.3em;
  margin-left: 28em;
}
.sch-btn:hover {
  background-color: goldenrod;
}

/**
*   signin  
*/

a {
  color: #0f1111;
  text-decoration: none;
}

a:hover {
  color: rebeccapurple;
}

.signin:hover {
  background-color: rgb(158, 117, 13);
}

.signin {
  padding: 2px;
  text-align: center;
  border: none;
  font-size: 1.2em;
  width: auto;
  height: auto;
  background-color: gold;
  color: #0f1111;
  font-weight: bolder;
  margin-left: 2em;
}

.regi {
  padding: 2px;
  text-align: center;
  border: none;
  font-size: 1.2em;
  width: auto;
  height: auto;
  background-color: gold;
  color: #0f1111;
  font-weight: bolder;
  margin-left: 2em;
}

.regi:hover {
  background-color: rgb(158, 117, 13);
}

/*
*   shopping-cart 
*/

#btn-cart {
  padding: 2px;
  font-size: 1.6em;
  margin-left: 2em; 
  background-color: gold;
  align-items: center;
}

#btn-cart:hover {
  background-color: rgb(158, 117, 13);
}


/**
*   Designing the body of the wensite 
*   Main is the child of body element but is parent of all the elments within the 
*   main element 
*/

.main {
  width: 100%;
  height: 100%;
  background-color: rgba(146, 204, 185, 0.4);
}

/**
*   heading-image is child of main element
*/

.heading-image {
  position: relative;
  width: auto;
  height: 70%;
  background-image: url(./resources/hero_image.jpg);
  background-size: cover;
  opacity: 0.9;
}

.what-to-buy {
  transition: 3s ease;
  position: absolute;
  width: 300px;
  height: auto;
  background-color: rgb(50, 110, 154);
  margin-left: 2em;
  margin-top: 12em;
  box-shadow: 0px 15px 35px rgb(10, 30, 50);
  border-radius: 15px;
}

.what-to-buy:hover {
  transition: 2s ease-out;
  box-shadow: 2px 15px 35px rgba(63, 134, 210, 0.8) ;
}

#Electronics {
  padding: 2em;
  background-color: rgb(60, 100, 165);
  width: 22.5em;
  height: 3em;
}

#toys {
  padding: 2em;
  background-color: rgb(60, 100, 165);;
  width: 22.5em;
  height: 3em;
}


/** 
*   Designing of Cards  
*/

.card-1 {
  transition: 1s ease;
  margin-left: 3em;
  margin-top: 40em;
  position: absolute;
  width: 300px;
  height: 400px;
  background-image: url(./resources/box5_image.jpg);
  border: none;
}

.card-1:hover {
  transition: 1s ease;
  box-shadow: 0px 17px 29px rgb(48, 96, 96);
}

.card-2 {
  transition: 1s ease;
  margin-left: 29em;
  margin-top: 40em;
  position: absolute;
  width: 350px;
  height: 400px;
  background-image: url(./resources/box4_image.jpg);
  border: none;
}

.card-2:hover {
  box-shadow: 0px 7px 29px rgb(21, 37, 37);
}

.card-3 {
  transition: 1s ease;
  margin-left: 3em;
  margin-top: 70em;
  position: absolute;
  width: 550px;
  height: 300px;
  background-image: url(./resources/box2_image.jpg);
  border: none;
}

.card-3:hover {
  box-shadow: 0px 7px 29px rgb(65, 64, 62);
}

.card-4 {
  transition: 1s ease;
  margin-left: 55em;
  margin-top: 43em;
  position: absolute;
  width: 500px;
  height: 300px;
  background-image: url(./resources/box3_image.jpg);
  border: none;
}

.card-4:hover {
  transition: 1s ease;
  box-shadow: 1px 10px 39px rgb(171, 144, 89);
}

.card-5 {
  transition: 1s ease;
  margin-left: 47em;
  margin-top: 70em;
  position: absolute;
  width: 500px;
  height: 300px;
  background-image: url(./resources/box1_image.jpg);
  border: none;
}

.card-5:hover {
  box-shadow: 0px 10px 39px rgb(130, 129, 128);
}

footer {
  width: 100%;
  height: 100%;
  background-color: rgba(146, 204, 185, 0.4);
}
