/*
*   @Author -> AryanRanjane(ranjanearyan14@gmail.com)
*   @Date -> 21/6/24
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}



#bulb {
    width: 230px;
    height: 250px;
    background-color: yellow;
    border-radius: 50%;
}