/**
*   @Author -> AryanRanjane(ranjanearyan14@gmail.com)
*   @Date -> 20/6/24
*/

/**
*   Boiler-plate 
*/

* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

/** 
* Parent of h1_1 
*/
.heading {
  height:100%;
  width: 100%;
  background-color: rgb(43, 13, 13);
  color: white ;
}

#h1_1 {
  font-style: italic;
  font-weight: bolder; 
  text-align: center;
}

/**
*   main is child of body 
*/

.main {
  background-color: rgb(43, 13, 13);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
*  child of main
*/

.card {
  background-color: grey;
  height: 600px;
  width: 400px;
}

/** 
*   data is child of card 
*/

#input {
  border: none;
  background-color: aliceblue;
  color: black;
  padding: 1em;
  width: 19em;
  margin-top: 3em;
  margin-left: 3em;
}

#add { 
  margin-left: -7px;
  padding: 0.9em;
}
