/*
    @Author -> AryanRanjane(ranjanearyan14@gmail.com)
    @Date -> 17/6/24
*/

/*
    Boiler-plate
*/

* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
}

/*
    Parent-Div
*/
.main {
    width: 100%;
    height: 100%;
    background-color: rgb(38, 6, 48);
}

/*
    logo    -id contains the logo 
*/ 

#logo-id {
    width: 15em;
    margin:3em;
}

/*
    background-images
*/ 

#tomatoes-id {
    margin-left: 34em;
    margin-top: 5em;
    width: 15em;
}